.pagination {
  button {
    background-color: transparent;
    color: blue;
    border: solid 1px gray;
    min-width: 24px;
    width: fit-content;
    height: 24px ;
  }

  button:disabled {
    color: lightblue
  }

  .active {
    background-color: lightskyblue;
  }

}
